import { createSupabaseCRUDClient } from "@clients/SupabaseCRUDClient/createSupabaseCRUDClient";
import { $MODEL_NAME$Parsers } from "$/models/$MODEL_PATH_FROM_MODELS_ROOT$/$MODEL_NAME$Parsers.ts";

export const $MODEL_NAME$Client = createSupabaseCRUDClient({
  modelName: "$MODEL_NAME$",
  tableName: "$TABLE_NAME$",
  dbTablePrimaryKey: "id",
  parsers: $MODEL_NAME$Parsers,
});
