################################################################################
# Public environment variables.
# These get sent to the client's browser.
################################################################################
VITE_APP_URL=http://localhost:5173/
VITE_SUPABASE_API_URL=
VITE_SUPABASE_ANON_KEY=
VITE_HIDE_DEV_TOOLS=false

# Flags to enable. Must be a comma-separated list.
# See `FeatureFlagConfig.tsx` for available flags.
# Example: VITE_FEATURE_FLAGS=disable-self-registration
VITE_FEATURE_FLAGS=

# Google Picker API
VITE_GOOGLE_PICKER_API_KEY=

################################################################################
# Private environment variables.
# These environment variables are only used for running admin scripts locally.
# They are never served to the frontend. Any env vars that need to exist in
# Supabase edge functions should get added to `.env.development.edge`.
################################################################################

# Supabase service role key used only in scripts to do admin operations
# This should be your local database's service role key
SUPABASE_SERVICE_ROLE_KEY=

# The URL on which to serve localhost with a reverse proxy. This is useful to
# expose the local Supabase API port publicly so that external services can post
# webhooks during local development.
REVERSE_PROXY_URL=

# ==========================================
# =============Upstash + Redis==============
# ==To track rate limiting with Resend API==
# ==========================================
UPSTASH_REDIS_API_URL=
UPSTASH_REDIS_REST_API_TOKEN=

# ==========================================
# ===================Email==================
# ==========================================
RESEND_API_KEY=

# This should be a NON-LOCALHOST domain, even for local development.
# In dev, the emails you send are still real emails (even when sent to
# `delivered@resend.dev`), so images will only load if they have a publicly
# accessible URL. Do NOT end this URL with a /
RESEND_SITE_IMG_URL=https://your-public-domain.com

# ==========================================
# ===========Email local testing============
# These variables are ignored in production.
# ==========================================

# Only change this if you absolutely *must* receive a transactional email on
# your real email. Otherwise, stick to resend's `delivered@resend.dev` email.
EMAIL_LOCAL_OVERRIDE_EMAIL=delivered@resend.dev

# The id of the Resend segment for test broadcasts from the CLI
RESEND_LOCAL_TEST_SEGMENT_ID=
