{
  "experimentalTernaries": true,
  "printWidth": 80,
  "semi": true,
  "tabWidth": 2,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sql"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[.]",
    "<TYPES>"
  ],
  "overrides": [
    {
      "files": ["*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.sql"],
      "options": {
        "language": "postgresql",
        "keywordCase": "lower",
        "dataTypeCase": "lower",
        "functionCase": "lower",
        "identifierCase": "lower",
        "indentStyle": "standard",
        "logicalOperatorNewline": "after",
        "expressionWidth": 8
      }
    }
  ]
}
