{
  "plugins": ["prettier-plugin-sql"],
  "overrides": [
    {
      "files": ["*.sql"],
      "options": {
        "language": "postgresql",
        "keywordCase": "lower",
        "dataTypeCase": "lower",
        "functionCase": "lower",
        "identifierCase": "lower",
        "indentStyle": "standard",
        "logicalOperatorNewline": "after",
        "expressionWidth": 40,
        "linesBetweenQueries": 1
      }
    }
  ]
}
