.localFilterEditorContainer {
  background: var(--ava-surface-body);
  border: 1px solid var(--ava-border-default);
  border-radius: var(--mantine-radius-sm);
}

.localFilterEditorLabel {
  flex: 1;
}
